
a {
    text-decoration: none;
    color: rgb(49, 103, 179);
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width:55%;
}

h1 {
    font-family: 'American Typewriter', sans-serif;
    font-size: 3rem;
    color: white;
    text-align: center;
    font-weight: 300;
    margin: 0;
}

h2 {
    color: rgb(81, 155, 201);
    width: 60%;
    font-weight: normal;
    text-align: justify;
    margin: 2rem 0;
}

hr {
    border-style: dotted none none none;
    border-width: 0.4rem;
    border-color: rgba(77, 148, 198, 0.5);
    width: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
}
td {
    height: 5rem;
    vertical-align: middle;
}

.block-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bottom-container {
    background-color: rgb(70, 139, 194);
    margin: auto;
    text-align: center;
    padding: 20px;
}

.bulb-img {
    max-width: 3rem;
    margin-top: auto;
    margin-bottom: auto;
}

.copyright {
    color: white;
}

.middle-container {
    color: #40514E;
    text-align: center;
}


.mockups-texts {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2;
}

.text-on-left {
    padding-right: 1rem;
}

.text-on-right {
    padding-left: 1rem;
}

.top-container {
    background-image: linear-gradient(#5ce1e6, #004aad);
    color: white;
}
